 #header {
     padding: 0px 0;
     height: 75px;
     left: 0;
     top: 0;
     background: none;
     color: rgb(0, 0, 0);
     right: 0;
     transition: all 0.5s;
     z-index: 997;
 }
 
 #header #logo {
     float: left;
 }
 
 .logo {
     width: 71%;
     margin-top: 44px;
 }
 
 .nav-menu,
 .nav-menu * {
     margin-right: 8px;
     margin-top: 20px;
     list-style: none;
 }
 
 .nav-menu ul {
     position: absolute;
     display: none;
     top: 100%;
     left: 0;
     z-index: 99;
 }
 
 .nav-menu li {
     position: relative;
     white-space: nowrap;
 }
 
 .nav-menu>li {
     float: left;
 }
 
 .nav-menu li:hover>ul,
 .nav-menu li.sfHover>ul {
     display: block;
 }
 
 .nav-menu ul ul {
     top: 0;
     left: 100%;
 }
 
 .nav-menu ul li {
     min-width: 180px;
 }
 /* Nav Meu Container */
 
 #nav-menu-container {
     float: right;
     margin: 0;
 }
 /* Nav Meu Styling */
 
 .nav-menu a {
     text-decoration: none;
     display: inline-block;
     font-family: "Montserrat", sans-serif;
     font-weight: bold;
     font-size: 18px;
     color: rgba(96, 96, 96, 1);
 }
 
 .nav-menu>li {
     margin-left: 10px;
 }
 
 .nav-menu ul {
     margin: 4px 0 0 0;
     padding: 10px;
     box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
     background: #000;
 }
 
 .nav-menu ul li {
     transition: 0.3s;
 }
 
 .nav-menu ul li a {
     padding: 10px;
     color: #333;
     transition: 0.3s;
     display: block;
     font-size: 13px;
     text-transform: none;
 }
 
 .text-black {
     color: #000
 }
 
 .nav-menu ul li:hover>a {
     color: #ed4410;
 }
 
 .nav-menu ul ul {
     margin: 0;
 }
 
 .icon {
     position: absolute;
     margin-top: 228px;
     margin-right: 0%;
 }
 
 .icon2 {
     margin-top: 35%;
     margin-left: 90%;
     position: absolute;
 }
 /* About Us Section
--------------------------------*/
 
 #intro {
     margin-left: 16%;
     margin-top: 4%;
     white-space: pre-line;
 }
 
 ol {
     counter-reset: item;
 }
 
 ol li {
     display: block;
 }
 
 ol li:before {
     content: counter(item) ". ";
     counter-increment: item;
     color: #29449F;
     font-weight: 600;
     font-size: 130%;
 }
 
 .features-text {
     margin-right: 153px;
 }
 
 .text-about {
     color: rgba(96, 96, 96, 1);
     margin-top: 29px;
     font-weight: 600;
     font-size: 140%;
 }
 
 .title-h2 {
     font-size: 42px;
     color: #29449F;
     line-height: 45px;
     font-weight: 700;
 }
 
 .title3 {
     margin-top: 25px;
     font-weight: 700;
     color: rgba(96, 96, 96, 1)
 }
 
 .buttonH {
     margin-top: -10%;
     position: static;
     background-color: #a0a0a0;
     border-radius: 15px;
     border-color: #ffffff;
     color: rgb(252, 252, 252);
     padding: 10px;
     width: 150px;
     transition-duration: 0.4s;
     cursor: pointer;
 }
 
 .background {
     background-image: url('/img/back.png');
     width: 1200px;
     height: 600px;
     background-size: cover;
     /* or contain depending on what you want */
     background-repeat: repeat;
     padding: 0;
 }
 
 #header {
     padding: 0px 0;
     height: 75px;
     left: 0;
     top: 0;
     background: none;
     color: rgb(0, 0, 0);
     right: 0;
     transition: all 0.5s;
     z-index: 997;
 }
 
 #header #logo {
     float: left;
 }
 
 .logo {
     width: 71%;
     margin-top: 44px;
 }
 
 .button {
     font-weight: 700;
     margin-top: 1%;
     position: relative;
     background-color: #29449F;
     border-radius: 15px;
     font-size: 18px;
     border-color: #ffffff;
     color: rgb(252, 252, 252);
     padding: 18px;
     width: 206px;
     text-align: center;
     transition-duration: 0.4s;
     text-decoration: none;
     overflow: hidden;
     cursor: pointer;
 }
 
 button:hover {
     background-color: #ff9900;
 }
 
 .title5 {
     color: rgba(96, 96, 96, 1);
     font-weight: 700;
 }
 
 .title2 {
     font-size: 65px;
     font-weight: bold;
     font-style: normal;
     color: rgba(54, 51, 51, 1)
 }
 
 .title {
     font-size: 511%;
     font-weight: 800;
     color: #212121;
 }
 
 .textt p {
     font-size: 209%;
     font-weight: 800;
     color: #373737;
 }
 
 .section2 {
     margin-top: 8%;
     margin-left: 9%
 }
 
 .content {
     margin-right: 6%;
 }
 
 .container1 {
     padding-left: 28px;
     color: #383838
 }
 
 .container2 {
     overflow: visible;
     text-align: center;
     font-family: Helvetica Neue;
     font-style: normal;
     font-weight: bold;
     font-size: 44px;
     color: rgba(54, 51, 51, 1);
 }
 
 .section3 {
     text-align: center;
     color: #000;
 }
 
 .section {
     margin-left: 10%;
     color: #000;
     margin-top: 5%
 }
 
 .valeur {
     font-size: 261%;
     font-weight: 700;
     margin-top: 4%;
 }
 
 .valeur2 {
     font-size: 261%;
     color: #000;
     text-align: center;
     font-weight: 700;
 }
 
 #about {
     color: #000;
 }
 
 .image-box img {
     margin-left: 30%;
     width: 50%;
     border-radius: 10px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
 }
 
 .image-box {
     position: relative;
 }
 
 .ply-btn {
     z-index: 999;
     position: absolute;
     top: 30%;
     left: 38%;
     transform: translate(50%, 50%);
 }
 
 .ply-btn img {
     width: 80px;
 }
 
 .padd-80 {
     padding-top: 80px;
     padding-bottom: 80px;
 }